name: Mirror Repository

on:
  push:
    branches:
      - master  # Change this to your source branch

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Install git-filter-repos
        run: |
          sudo apt-get update
          sudo apt-get install -y git-filter-repo
          
      - name: Apply Git Filter Repo
        run: |
          git-filter-repo --force --name-callback 'return b"CISO" ' --email-callback 'return b"ciso@corvina.io"'
        working-directory: ./newrep

      - name: Mirror to Target Repository
        run: |
          git clone --bare https://basil3366:${{ secrets.GH_PAT }}@github.com/basil3366/newrep
          cd "$(basename newrep.git)"
          git push --mirror https://basil3366:${{ secrets.GH_PAT }}@github.com/basil3366/mirror-test5.git
        env:
          GH_PAT: ${{ secrets.GH_PAT }}

