name: Mirror Repository

on:
  push:
    branches:
      - master  # Change this to your source branch

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Mirror to Target Repository
        run: |
          git clone --bare https://github.com/basil3366/newrep.git
          cd "$(basename newrep.git)"
          git push --mirror https://basil3366:${{ secrets.GH_PAT }}@github.com/basil3366/mirror-test2.git
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
